/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&family=Poppins:wght@400;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root{
/*===== Colors =====*/
--hue: 271;
--first-color: hsl(var(--hue), 76%, 53%);
--title-color: hsl(var(--hue), 12%, 15%);
--text-color: hsl(var(--hue), 12%, 35%);
--body-color: hsl(var(--hue), 12%, 98%);
--container-color: hsl(var(--hue), 12%, 90%);
--border-color: hsl(var(--hue), 12%, 90%);
--border1-color: hsl(var(--hue), 40%, 80%);
--white-color:hsl(var(--hue), 4%, 100%);

/*===== Font family =====*/
--body-font: 'Montserrat Alternates', sans-serif;

/*===== Font size =====*/
--h1-font-size: 3.5rem;
--h2-font-size: 3rem;
--h3-font-size: 2rem;
--large-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;

/*===== Font weight =====*/
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
}
/* Responsive typography */
/*=============== BASE ===============*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body,
input
textarea,
button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,
h2,
h3{
    color: var(--title-color);
    font-weight: var(--weight-800);
    font-size: var(--h3-font-size);
}
p{
    line-height: 1.75;
    font-weight: var(--weight-800);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button,
input,
textarea{
    background-color: transparent;
    border: none;
    outline: none;
}
img{
   dissplay: block;
   max-width: 100%;
}

/*=============== Variables Dark Theme ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

    .button{
        display: inline-block;
        color: var(--title-color);
        border: 2px solid var(--first-color);
        padding: 1.25rem 4.5rem 1.25rem 2rem;
        border-radius: 4rem;
        font-size: var(--small-font-size);
        font-weight: var(--weight-600);
        position: relative;
        overflow: hidden;
        transition: color 0.4s;
    }

    .button:hover{
        color: var(--white-color);
    }

    .button::before{
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--first-color);
        border-radius: inherit;
        z-index: -10;
        transform: translateX(100%);
        transition: transform 0.4s;
    }
    .button:hover::before{
        transform: translateX(0);
    }

    .button-icon{
        position: absolute;
        inset: -1px -1px -1px auto;
        background-color: var(--first-color);
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: var(--white-color);
        font-size: 1.5rem;
        display: grid;
        place-items: center;
    }

    .section {
        padding-inline: 4rem;
    }

    .section-title{
        font-size: var(--h1-font-size);
        text-align: center;
        margin-bottom: 4rem;
    }

    .section-title span{
        color: var(--first-color);
    }
/*=============== LAYOUT ===============*/
.grid{
    display: grid;
}

.container {
    max-width: 1208px;
    margin-inline: auto;
    padding-inline: 1.25rem;
}
/*=============== NAVBAR ===============*/
nav{ 
    position: fixed;
    inset-block: 0;
    right: 2rem;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.nav-list{
    row-gap:1.25rem;
}
.nav-link{
    background-color: var(--container-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    transition: background-color 0.3s;
}
.nav-link:hover,
.active-link{
    background-color: var(--first-color);
}
.nav-icon{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: color 0.3s;
}
.nav-link :hover, .nav-icon,
.active-link .nav-icon{
    color: var(--title-color);
}

.nav-name{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    height: 100%;
    padding-inline: 1.75rem 2.75rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    transition: all 0.1s;
}
.nav-link:hover .nav-name{
    opacity: 1;
    visibility: visible;
    right: 0.5rem;
    
}
.nav-close,
.nav-toggle{
    display: none;
}
/*=============== HOME ===============*/

    .home-container{
        grid-template-columns: 4.75fr 7.25fr;
        align-items: center;
        column-gap: 5rem;
        padding: 2.5rem;
        min-height: 100vh;
    }

    .home-img{
        height: calc(100vh - 5rem);
        width:100%;
        border-radius: 2.75rem;
        object-fit: cover;
        z-index: 10;
    }
    .home-title{
        font-size: var(--h1-font-size);
        padding-left: 4.25rem;
        position: relative;
    }
    .home-title span{
        color: var(--first-color);
    }
    .home-title::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 0.25rem;
        background-color: var(--first-color);
        border-radius: 0.125rem;
    }
    .home-description{
        max-width: 600px;
        margin-block:1.5rem 2.5rem;
        line-height: 1.8;
    }
    .color-block{
        position: fixed;
        width: 30%;
        height: 150%;
        background-color: var(--first-color);
        transform: rotate(-16deg);
        top: -12%;
        left: -15%;
    }
/*=============== ABOUT ===============*/

    .about-container,
    .info-list,
    .stats{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        align-items: start;
    }

    .section-subtitle {
        font-size: var(--h3-font-size);
        font-weight: var(--weight-700);
        margin-bottom: 3rem;
    }

    .info-list{
        row-gap: 1.25rem;
        margin-bottom: 3rem;
    }

    .info-title,
    .info-description{
        font-size: var(--normal-font-size);
    }

    .info-description{

        color: var(--title-color);
    }

    .stats-box{
        border: 1px solid var(--border-color);
        padding: 1.25rem 3rem 1.5rem;
        border-radius: 0.5rem;
    }

    .stats-no{
        color: var(--first-color);
        font-size: var(--h2-font-size);
        margin-bottom: 0.25rem;
    }

    .stats-title{
        font-size: var(--normal-font-size);
        line-height: 1.5;
        padding-left: 2.75rem;
        position: relative;
    }

    .stats-title::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 1px;
        background-color: var(--first-color);
        border-radius: 0.125rem;
    }

    .separator {
        max-width: 800px;
        border-top: 1px solid var(--border1-color);
        margin: 4.5rem auto;
    }

/*=============== SKILLS ===============*/

    .subtitle-center{
        text-align: center;
        margin-bottom: 2.5rem;
    }


    .skills-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
    }

    .skills-container{
        font-size: var(--large-font-size);
        font-weight: var(--weight-700);
        text-align:center;
        margin-bottom: 2.5rem;
    }

    .skills-item {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .skills-data{
        text-align: center;
    }

    .skills-blob{
        width: 100px;
        height: 100px;
        background-color: var(--container-color);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-inline: auto;
        margin-bottom: 1rem;
    }

    .skills-img{
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 1.25rem;
    }

    .skills-name{
        font-size: var(--small-font-size);
        font-weight: var(--weight-700);
        margin-block: 1rem 0.25rem;
    }

    .skills-level{
        font-size: var(--smaller-font-size);
        color: var(--text-color);
    }
/*=============== RESUME ===============*/

    .resume-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.75rem;
    }
    .resume-group{
        row-gap: 3rem;
    }

    .resume-item{
        padding-left: 3.75rem;
        position: relative;
    }
    .resume-item::before{
        content: '';
        position: absolute;
        inset: 0 auto 0 1.25rem;
        border: 1px solid var(--border1-color);
    }

    .resume-icon{
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--first-color);
        color: var(--white-color);
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 2rem;
    }

    .resume-date{
        background-color: var(--container-color);
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
        font-size: var(--normal-font-size);
        font-weight: var(--weight-600);
    }

    .resume-subtitle{
        font-size: var(--large-font-size);
        font-weight: var(--weight-700);
        margin-block: 0.5rem 1rem;
    }

    .resume-subtitle{
        color: var(--text-color);
    }

    .resume-description{
        font-size: var(--small-font-size);
        line-height: 1.8;
    }
/*=============== PORTFOLIO ===============*/

/*=============== CONTACT ===============*/

/*=============== STYLE SWITCHER ===============*/



/*=============== BREAKPOINTS ===============*/

/* For small devices */