/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&family=Poppins:wght@400;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root{
/*===== Colors =====*/
--hue: 271;
--first-color: hsl(var(--hue), 76%, 53%);
--title-color: hsl(var(--hue), 12%, 15%);
--text-color: hsl(var(--hue), 12%, 35%);
--body-color: hsl(var(--hue), 12%, 98%);
--container-color: hsl(var(--hue), 12%, 100%);
--border-color: hsl(var(--hue), 12%, 90%);
--white-color:hsl(var(--hue), 4%, 100%);

/*===== Font family =====*/
--body-font: 'Montserrat Alternates', sans-serif;

/*===== Font size =====*/
--h1-font-size: 3.5rem;
--h2-font-size: 3rem;
--h3-font-size: 1.5rem;
--large-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;

/*===== Font weight =====*/
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
}
/* Responsive typography */
/*=============== BASE ===============*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body,
input
textarea,
button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,
h2,
h3{
    color: var(--title-color);
    font-weight: var(--weight-800);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button,
input,
textarea{
    background-color: transparent;
    border: none;
    outline: none;
}
img{
   dissplay: block;
   max-width: 100%;
}

/*=============== Variables Dark Theme ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/
.grid{
    display: grid;
}

/*=============== NAVBAR ===============*/
nav{ 
    position: fixed;
    inset-block: 0;
    right: 2rem;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.nav-list{
    row-gap:1.25rem;
}
.nav-link{
    background-color: var(--container-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: relative;
    transition: background-color 0.3s;
}
.nav-link:hover,
.active-link{
    background-color: var(--first-color);
}
.nav-icon{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: color 0.3s;
}
.nav-link :hover, .nav-icon,
.active-link .nav-icon{
    color: var(--title-color);
}

.nav-name{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    height: 100%;
    padding-inline: 1.75rem 2.75rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    transition: all 0.1s;
}
.nav-link:hover .nav-name{
    opacity: 1;
    visibility: visible;
    right: 0.5rem;
    
}
.nav-close,
.nav-toggle{
    display: none;
}
/*=============== HOME ===============*/

    .home-container{
        grid-template-columns: 4.75fr 7.25fr;
        align-items: center;
        column-gap: 5rem;
        padding: 2.5rem;
        min-height: 100vh;
    }

    .home-img{
        height: calc(100vh - 5rem);
        width:100%;
        border-radius: 2.75rem;
        object-fit: cover;
    }
    .home-title{
        font-size: var(--h1-font-size);
        padding-left: 4.25rem;
        position: relative;
    }
    .home-title span{
        color: var(--first-color);
    }
    .home-title::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 0.25rem;
        background-color: var(--first-color);
        border-radius: 0.125rem;
    }
    .home-description{
        max-width: 600px;
        margin-block:1.5rem 2.5rem;
        line-height: 1.8;
    }
/*=============== ABOUT ===============*/

/*=============== SKILLS ===============*/

/*=============== RESUME ===============*/

/*=============== PORTFOLIO ===============*/

/*=============== CONTACT ===============*/

/*=============== STYLE SWITCHER ===============*/



/*=============== BREAKPOINTS ===============*/

/* For small devices */